# PostgreSQL
POSTGRES_USER=siem_user
POSTGRES_PASSWORD=change_me
POSTGRES_DB=siem_db

# Database
DB_URL=postgres://siem_user:change_me@postgres:5432/siem_db?sslmode=disable

# Redis
REDIS_PASSWORD=change_me

# Server
GRPC_PORT=:5000
HTTP_PORT=:8080

MAXRECVMSGSIZE=10*1024*1024
MAXSENDMSGSIZE=10*1024*1024


# Notifications
TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_CHAT_ID=your_telegram_chat_id

SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=
ALERT_EMAIL=

# Authentication
JWT_SECRET=change_me_to_a_long_random_secret_at_least_32_characters