/.vscode
/.env
/siem-server/proto/logs.proto
/что нужно будет сделать.md
/agent_linux/agent/proto/logs.proto
/agent_windows/agent/proto/logs.proto
/agent_old
/agent_linux/agent/proto/agent_service.proto
/siem-server/proto/agent_service.proto
/agent_windows/agent/proto/agent_service.proto
/frontend/files
/frontend.rar
/migrations/rules.sql